.profile-banner {
    background-color: var(--footer-background-color);
}

.articles .nav a {
    padding: .6rem 1rem;
}

.articles .nav a.active {
    font-weight: 400;
    color: var(--banner-color) !important;
}

.user-avatar {
    width: 100px;
    border-radius: 100%;
}